<% include ./common/head %>
<% include ./common/sidebar %>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include ./common/navbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Songs</h1>
                <p class="mb-4">View all ther details </p>
      
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Songs List</h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Sr.</th>
                            <th>Cover</th>
                            <th>Song Name</th>
                            <th>Singer Name</th>                            
                            <th>status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Sr.</th>
                            <th>Cover</th>
                            <th>Song Name</th>
                            <th>Singer Name</th>                            
                            <th>status</th>
                            <th>Action</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <% 
                            i = 1;
                            songdata.forEach(function(o) {  %>
                          <tr>
                            <td><%=i%></td>                            
                            <td><img src="img/<%=o.cover%>" height="100" width="100"/></td> 
                            <td><%=o.name%></td>
                            <td><%=o.singer%></td>
                            <td><%=o.status%></td>                            
                            <td>
                                <a href="/editsong/<%=o.id%>" class=""><i style="color: green;font-size: 18px;" class="fas fa-fw fa-edit"></i></a> 
                            ||  <a href="/deletesong/<%=o.id%>" onclick="return confirm('Are you sure you want to delete?')" class=""><i style="color: rgb(233, 116, 116);font-size: 18px;" class="fas fa-fw fa-trash"></i></a></td>
                          </tr>
                          <% i++; }); %>                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
      
              </div>
              <!-- /.container-fluid -->   

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

     <% include ./common/footer %>