<% include ./common/head %>
<% include ./common/sidebar %>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <% include ./common/navbar %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Company</h1>
                <p class="mb-4">View all ther details </p>
      
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Company List</h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Sr.</th>
                            <th>ID</th>
                            <th>Company Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Street</th>
                            <th>Zip</th>
                            <th>Address</th>
                            <th>website</th>
                            <th>API KEY</th>
                            <th>status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Sr.</th>
                            <th>ID</th>
                            <th>Company Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Street</th>
                            <th>Zip</th>
                            <th>Address</th>
                            <th>website</th>
                            <th>API KEY</th>
                            <th>status</th>
                            <th>Action</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <% 
                            i = 1;
                            companydata.forEach(function(o) {  %>
                          <tr>
                            <td><%=i%></td>
                            <td><%=o.id%></td> 
                            <td><%=o.cname%></td> 
                            <td><%=o.email%></td>
                            <td><%=o.phone%></td>
                            <td><%=o.city%></td>
                            <td><%=o.state%></td>
                            <td><%=o.street%></td>
                            <td><%=o.zip%></td>
                            <td><%=o.address%></td>                            
                            <td><%=o.website%></td>
                            <td><textarea ><%=o.apikey%></textarea></td>
                            <td><%=o.is_active == 1 ? "Active" : "Deactive"%></td>
                            <td>
                                <a href="/editcompany/<%=o.id%>" class=""><i style="color: green;font-size: 18px;" class="fas fa-fw fa-edit"></i></a> 
                            ||  <a href="/deletecompany/<%=o.id%>" onclick="return confirm('Are you sure you want to delete?')" class=""><i style="color: rgb(233, 116, 116);font-size: 18px;" class="fas fa-fw fa-trash"></i></a></td>
                          </tr>
                          <% i++; }); %>                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
      
              </div>
              <!-- /.container-fluid -->   

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

     <% include ./common/footer %>